module "rhel7-std" {
    source = "../gso-deploy/modules/rhel7-std"

    vsphere_server     = var.vsphere_server
    vsphere_user       = var.vsphere_user
    vsphere_password   = var.vsphere_password
    datacenter         = "{{ vsphere_datacenter }}"
    datastore          = "{{ vsphere_datastore }}"
    cluster            = "{{ vsphere_cluster }}"
    network_name       = "{{ vsphere_network }}"
    vsphere_template   = "{{ vsphere_template }}"
    server_name        = "{{ server_name }}"
    domain_name        = "{{ domain_name }}"
    server_ip          = "{{ server_ip }}"
    server_gateway     = "{{ server_gateway }}"

}